*.csproj
*.sln
Native/Library/
Native/Logs/
Native/obj/
HybridCLR/.vscode/
HybridCLR/Library/
HybridCLR/Temp/
HybridCLR/UserSettings/
HybridCLR/Logs/
HybridCLR/obj/
HybridCLR/HybridCLRData/
InjectFix/Source/UnityProj/Library/
InjectFix/Source/UnityProj/Logs/
InjectFix/Source/UnityProj/obj/Debug/
InjectFix/Source/UnityProj/.vscode/
